.original-theme .seccion-two-first-part button {
  color: var(--original);
}
.blue-theme .all-info-seccion-two {
  background-color: var(--blue);
}
.blue-theme .seccion-two-first-part button {
  color: var(--blue);
}
.yellow-theme .all-info-seccion-two {
  background-color: var(--yellow);
}
.yellow-theme .seccion-two-first-part button {
  color: var(--yellow);
}
.red-theme .all-info-seccion-two {
  background-color: var(--red);
}
.red-theme .seccion-two-first-part button {
  color: var(--red);
}
.green-theme .all-info-seccion-two {
  background-color: var(--green);
}
.green-theme .seccion-two-first-part button {
  color: var(--green);
}
.black-theme .all-info-seccion-two {
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
}
.black-theme .seccion-two-first-part button {
  color: #ff9a8b;
}

.blue-theme .language-es button:hover,
.blue-theme .language-en button:hover {
  color: var(--blue);
  transition: 0.3s;
}
.red-theme .language-es button:hover,
.red-theme .language-en button:hover {
  color: var(--red);
  transition: 0.3s;
}
.yellow-theme .language-es button:hover,
.yellow-theme .language-en button:hover {
  color: var(--yellow);
  transition: 0.3s;
}
.green-theme .language-es button:hover,
.green-theme .language-en button:hover {
  color: var(--green);
  transition: 0.3s;
}
.black-theme .language-es button:hover,
.black-theme .language-en button:hover {
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );

  background-clip: text;
  color: transparent;
  transition: 0.3s;
}
.original-theme .language-es button:hover,
.original-theme .language-en button:hover {
  color: var(--original);
  transition: 0.3s;
}

.blue-theme .btn-view-code {
  background-color: var(--blue);
}
.yellow-theme .btn-view-code {
  background-color: var(--yellow);
}
.red-theme .btn-view-code {
  background-color: var(--red);
}
.green-theme .btn-view-code {
  background-color: var(--green);
}
.original-theme .btn-view-code {
  background-color: var(--original);
}
.black-theme .btn-view-code {
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
}

.blue-theme .btn-view-app {
  border: 1px solid var(--blue);
  color: var(--blue);
}
.yellow-theme .btn-view-app {
  border: 1px solid var(--yellow);
  color: var(--yellow);
}
.red-theme .btn-view-app {
  border: 1px solid var(--red);
  color: var(--red);
}
.green-theme .btn-view-app {
  border: 1px solid var(--green);
  color: var(--green);
}
.original-theme .btn-view-app {
  border: 1px solid var(--original);
  color: var(--original);
}
.black-theme .btn-view-app {
  color: #ff9a8b;
  border: 1px solid #ff9a8b;
}

.blue-theme .test-line-a {
  color: var(--blue);
}
.yellow-theme .test-line-a {
  color: var(--yellow);
}
.red-theme .test-line-a {
  color: var(--red);
}
.green-theme .test-line-a {
  color: var(--green);
}
.original-theme .test-line-a {
  color: var(--original);
}
.black-theme .test-line-a {
  color: #ff9a8b;
}

.blue-theme .view-curr {
  background-color: var(--blue);
}
.yellow-theme .view-curr {
  background-color: var(--yellow);
}
.red-theme .view-curr {
  background-color: var(--red);
}
.green-theme .view-curr {
  background-color: var(--green);
}
.original-theme .view-curr {
  background-color: var(--original);
}
.black-theme .view-curr {
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
}

.blue-theme .view-exam {
  border: 1px solid var(--blue);
  color: var(--blue);
}
.yellow-theme .view-exam {
  border: 1px solid var(--yellow);
  color: var(--yellow);
}
.red-theme .view-exam {
  border: 1px solid var(--red);
  color: var(--red);
}
.green-theme .view-exam {
  border: 1px solid var(--green);
  color: var(--green);
}
.original-theme .view-exam {
  border: 1px solid var(--original);
  color: var(--original);
}
.black-theme .view-exam {
  color: #ff9a8b;

  border: 1px solid #ff9a8b;
}
/*six seccion*/
.blue-theme .link-about {
  color: var(--blue);
}
.yellow-theme .link-about {
  color: var(--yellow);
}
.red-theme .link-about {
  color: var(--red);
}
.green-theme .link-about {
  color: var(--green);
}
.original-theme .link-about {
  color: var(--original);
}
.black-theme .link-about {
  color: #ff9a8b;
}

.blue-theme .first-border {
  border: 1px solid var(--blue);
}
.blue-theme .second-border {
  border: 1px solid var(--blue);
}

.yellow-theme .first-border {
  border: 1px solid var(--yellow);
}
.yellow-theme .second-border {
  border: 1px solid var(--yellow);
}

.red-theme .first-border {
  border: 1px solid var(--red);
}
.red-theme .second-border {
  border: 1px solid var(--red);
}

.green-theme .first-border {
  border: 1px solid var(--green);
}
.green-theme .second-border {
  border: 1px solid var(--green);
}
.original-theme .first-border {
  border: 1px solid var(--original);
}
.original-theme .second-border {
  border: 1px solid var(--original);
}
.black-theme .first-border {
  border: 1px solid #ff9a8b;
}
.black-theme .second-border {
  border: 1px solid #ff9a8b;
}
.blue-theme .footer {
  background-color: var(--blue);
}
.red-theme .footer {
  background-color: var(--red);
}
.yellow-theme .footer {
  background-color: var(--yellow);
}
.green-theme .footer {
  background-color: var(--green);
}
.original-theme .footer {
  background-color: var(--original);
}
.black-theme .footer {
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
}
.btn-view-code:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.btn-view-app:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.view-curr:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.view-exam:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.blue-theme .link-certi {
  color: var(--blue);
}
.red-theme .link-certi {
  color: var(--red);
}
.yellow-theme .link-certi {
  color: var(--yellow);
}
.green-theme .link-certi {
  color: var(--green);
}
.original-theme .link-certi {
  color: var(--original);
}
.black-theme .link-certi {
  color: #ff9a8b;
}

.blue-theme .scroll-btn {
  background-color: var(--blue);
}
.red-theme .scroll-btn {
  background-color: var(--red);
}
.yellow-theme .scroll-btn {
  background-color: var(--yellow);
}
.green-theme .scroll-btn {
  background-color: var(--green);
}
.original-theme .scroll-btn {
  background-color: var(--original);
}
.black-theme .scroll-btn {
  background-color: #ff9a8b;
}
